<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Mercadoliebre</title>
   
    <!--icono de la ventana-->
    <link rel = 'icon' href="images/logo-mercado-liebre.svg">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!--ROBOTO letra-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--adjunto hoja style-->
    <link rel= "stylesheet" href="/css/style.css">

</head>

<body>
    <header> 
        <div class="top-header">
            <div class="logo">
                <img src="images/logo-mercado-liebre.svg" alt="Logo de Mercadoliebre">
            </div>

            <div class="search" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>      
        <ul>    
            <li><a href="#">Ofertas </a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul>
            <li><a href="">Creá tu cuenta</a>  <i class="far fa-id-card"></i></li>
            <li><a href="#">Ingresá</a>         <i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#">Mis compras</a>     <i class="fas fa-shopping-basket"></i></li> 
        </ul>
     </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    </header> 

    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>

    <main>
        <section class="last-visit">
            <h3>Basado en tu última visita</h3> 
            <div class="products">
                <article>
                    <img class= "card-img" src="images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div class="main-article">
                        <i class="fas fa-truck"></i><!--icono de camion-->
                        <p class="price">$6.770</p>
                        <p class="discount">40% OFF</p>  
                        <h4 class="description">Cafetera Moulinex</h4>             
                    </div>
                </article>
            

                <article>  
                    <img class= "card-img" src="images/img-macbook-pro-2019.jpg" alt="Macbook">  
                    <div class="main-article">  
                        <i class="fas fa-truck"></i><!--icono de camion-->
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>        
                </article>

                <article>  
                    <img class= "card-img" src="images/img-samsung-galaxy-s10.jpg" alt="Celular Samsung Galaxy">
                    <div class="main-article">  
                        <i class="fas fa-truck"></i><!--icono de camion-->
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article>     
                    <img class= "card-img" src="images/img-tv-samsung-smart.jpg" alt="SmartTV Samsung">
                    <div class="main-article">
                        <i class="fas fa-truck"></i><!--icono de camion-->
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>    
                </article>      
            </div>
        </section>

        <section class="offers">
            <h3>Ofertas</h3>
            <div class="products">
                <article>
                    <img class= "card-img" src="images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div class="main-article">
                        <i class="fas fa-truck"></i><!--icono de camion-->
                        <p class="price">$6.770</p>
                        <p class="discount">40% OFF</p>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>        
                </article>

                <article>
                    <img class= "card-img" src="images/img-macbook-pro-2019.jpg" alt="Macbook">
                    <div class= "main-article">
                        <i class="fas fa-truck"></i><!--icono de camion-->
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>

                <article> 
                    <img class= "card-img" src="images/img-samsung-galaxy-s10.jpg" alt="Celular Samsung Galaxy">
                    <div class="main-article">
                        <i class="fas fa-truck"></i><!--icono de camion-->
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article>
                    <img class= "card-img" src="images/img-tv-samsung-smart.jpg" alt="SmartTV Samsung">
                    <div class="main-article">
                        <i class="fas fa-truck"></i><!--icono de camion-->
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer> 
        <section class="footer-creditcard">
            <section class="icon-creditcard"><i class="fas fa-credit-card"></i></section>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>


        <section class="footer-gift">
            <section class="icon-gift"><i class="fas fa-gift"></i></section>   
                <h3>Envío gratis desde $ 2.500</h3>        
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>


        <section class="footer-person">
            <section class="icon-person"><i class="fas fa-user-shield"></i></section>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>


        <section class="footer-copyright">
                <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>

    </footer>

</body>
</html>